<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Dashboard</title>
    
  </head>
  <body class="app sidebar-mini rtl pace-done">

        <%- include ../components/header%>
        <%- include ../components/menu%>
        
        <main class="app-content">

            <div class=" container" style="display: block; position: relative;">
                <div style="display: block; position:absolute; bottom: -1em; right: 2px; z-index: 56456; width: 100%; " >
                    <%- include ../partials/messages%>
                </div>
            </div>
            
            <div class=" col-lg-8 col-sm-12 col-md-12 mx-lg-auto">
                <div class="tile">
                    <h3 class="tile-title"> Список продуктов</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Компания продукта</th>
                                    <th>Модель продукта</th>
                                    <th>Тип продукта</th>
                                    <th>Действие</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (var i = 0; i < products.length; i++) { %>
                                    <tr>
                                        <th scope="row" class="mx-auto pr-3"><%= i + parseInt(current) %></th>
                                        <td><%= products[i].name %></td>
                                        <td><%= products[i].model %></td>
                                        <td><%= products[i].type %></td>
                                        <td class="mx-auto pr-3">
                                        <a
                                            id="edit"
                                            href="/products/edit/<%=products[i]._id%>"
                                            class="btn btn-info btn-effect"
                                            >Еще</a
                                        >
                                        </td>
                                    </tr> 
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                    <div class="df jcc aic mt-3">
                            <% if ( pages > 0 ) { %>
                            <ul class="pagination justify-content-center">
                                <% if (current == 1) { %>
                                <li class="page-item disabled">
                                    <span class="page-link">Первый</span>
                                </li>
                                <% } else { %>
                                <li class="page-item ">
                                    <a class="page-link" href="/products/list/1">Первый</a>
                                </li>
                                <% } %> <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                <% if (i !== 1) { %>
                                <li class="page-item " aria-current="page">
                                    <span class="page-link"> ... <span class="sr-only"></span> </span>
                                </li>
                                <% } %> <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                <% if (i == current) { %>
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">
                                        <%= i %> <span class="sr-only"></span>
                                    </span>
                                </li>
                                <% } else { %>
                                <li class="page-item">
                                    <a class="page-link" href="/products/list/<%= i %>"><%= i %></a>
                                </li>
                                <% } %> <% if (i == Number(current) + 4 && i < pages) { %>
                                <li class="page-item" aria-current="page">
                                    <span class="page-link"> ... <span class="sr-only"></span> </span>
                                </li>
                                <% } %> <% } %> <% if (current == pages) { %>
                                <li class="page-item disabled">
                                    <span class="page-link">Последний</span>
                                </li>
                                <% } else { %>
                                <li class="page-item ">
                                    <a class="page-link" href="/products/list/<%= pages %>">Последний</a>
                                </li>
                                <% } %>
                                </ul>
                            <% } %>
                        </div>
                </div>
                
            </div>
        </main>
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
        <!-- The javascript plugin to display page loading on top-->
        <script src="/js/plugins/pace.min.js"></script>
        
        <script src="/js/app.js"></script>
        <script>
            let search = new Search( `.search-block` );
            search.execute();
        </script>
  </body>
</html>
